/*
  desktop: 1280
  tablet: 1279 - 810
  mobile: 809
*/
.container {
  margin: 0 auto;
  padding-inline: 1rem;
  position: relative;
  width: 100%;
  max-width: 90vw;
}

@media (width > 810px) {
  .container {
    padding-inline: 2rem;
  }
}

@media (810px < width < 1280px) {
  .container {
    margin: 0 auto;
    padding-inline: 4rem;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1440px;
    padding-inline: 2.5rem;
  }
}

.narrow {
  max-width: 860px;
}

.fluid {
  width: 100%;
}