.header {
  display: flex;
  align-items: center;
  width: 100%;
  top: 0;
  z-index: 1;
}

.static {
  position: static;
}

.sticky {
  position: sticky;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}